<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>利用$scope暴露模型数据</title>
    <link href="/angularjs-learn/bower_components/bootstrap/dist/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <script src="/angularjs-learn/bower_components/angular/angular.min.js"></script>
    <style>
        .content{
            margin-top: 40px;
        }
    </style>
</head>
<body>
<div class="content col-md-8 col-md-offset-2">
    <div ng-controller="CountController">
        <button ng-click="count=3">Set count to three</button>
        <button ng-click="setCount()">Set count to three</button>
        <p>count:{{count}}</p>
    </div>
</div>

<script>
    var app = angular.module('myApp', []);

    app.controller('CountController', function($scope) {
        $scope.setCount= function () {
            $scope.count = 3;
        }
    });
</script>
</body>
</html>